<nav class="navbar navbar-expand-lg">
    <div class="container-fluid mimenu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Tipo 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tipo 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tipo 3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tipo 4</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tipo 5</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tipo 6</a>
            </li>
        </ul>
      </div>
</nav>
