.navbar{
    background: #C17872;
}

.mimenu{
    display: flex;
    justify-content: space-around;
}

.container-fluid{
}

.navbar a{
    color: white;
}

.nav-item{
    margin-left: 4rem;
    margin-right: 4rem;
}