<app-navbar></app-navbar>
<div class="container">
    <h1>Tu Carrito</h1>
    <app-carrito-item></app-carrito-item>
    <app-carrito-item></app-carrito-item>
    <app-carrito-item></app-carrito-item>
    <app-carrito-item></app-carrito-item>
    <app-carrito-item></app-carrito-item>
    <hr>
    <div class="total">
        <h2>Precio Total</h2>
        <p>$000,000</p>
    </div>
    <button class="btn-1 hbtn"><a href="http://localhost:4200/ticket" class="hbtn">Confirmar Compra</a></button>
</div>
<app-footer></app-footer>