
<app-navbar></app-navbar>
<div class="container">
    <section class="micontenido">

        <h1>Inicia Sesión</h1>

        <div class="entrada">
            <label>Correo</label>
            <input type="email" class="form-control" name="correo" id="exampleFormControlInput1" placeholder="name@example.com" [(ngModel)]="correo">
        </div>

        <div class="entrada">
            <label>Contraseña</label>
            <input type="password" class="form-control" name="contrasena" id="inputPassword" [(ngModel)]="contrasena">
        </div>

        <div class="botones">
            <button class="btn boton1" (click)="iniciar()"  >Iniciar</button>
            <p>{{mensaje}}</p>
            <div class="botones2">
                <a class="btn boton2" href="http://localhost:4200">Volvamos a Inicio</a>
                <a class="btn boton3" href="http://localhost:4200/registrarse">¿No tienes cuenta aún?</a>
            </div>
        </div>

    </section> 

</div>

