<app-navbar></app-navbar>
<div class="container">
    <section class="micontenido">

        <h1>Registrarme</h1>

        <div class="entrada">
            <label>Correo</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        
        <div class="entrada">
            <label>Contraseña</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>
        
        <div class="botones">
            <button class="btn boton1">Registrarme</button>
            <div class="botones2">
                <button class="btn boton2">Inicio</button>
                <button class="btn boton3">Iniciar Sesion</button>
            </div>
        </div>

    </section>  
    
</div>

