.micontenido{
    margin-top: 10rem;
    margin-left: 20rem;
    margin-right: 20rem;
}

h1{
    margin-bottom:30px;
    display: flex;
    justify-content: center;
}

.entrada{
    display: flex;
    margin-bottom: 20px;
}

label{
    display: flex;
    align-items: center;
    width: 10rem;
}

.boton1{
    width: 100%;
    background: #F59690;
    color: #111111;
    margin-bottom: 10px;
}

.botones2{
    display: flex;
    justify-content: space-between;
}

.boton2{
    width: 49%;
    background: #F7DDDC;
    color: #111111
}

.boton3{
    width: 49%;
    background: #F7DDDC;
    color: #111111;
}

