<app-navbar></app-navbar>
<div class="container">
    <div class="contenido">
        <div class="sec-izq">
            <img src="https://images.unsplash.com/photo-1605619227865-f8af18dfeab4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=881&q=80" class="card-img-top" alt="...">
            <div class="botones">
               <button class="btn-1 hbtn"><a href="http://localhost:4200/nota" class="hbtn">Comprar</a></button>
               <button class="btn-2 hbtn">Añadir al Carrito</button>

            </div>
        </div>
        <div class="sec-der">
            <div class="ecabezado">
                <h1>Nombre de Producto</h1>
                <h2 style="color: #754845;">$000,000</h2>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ad id ut aspernatur beatae magni, deserunt magnam quia architecto libero. Corporis perspiciatis fuga vitae alias magnam totam sed ullam animi.</p>
            <div class="disponibles">
                <p>Disponibilidad:</p>
                <p style="font-weight: bolder;">#</p>
            </div>
        </div>
    </div>
</div>