.banner-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1526758097130-bab247274f58?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-size:cover;
    justify-content: center;
    height: 20rem;
}

.content{
    margin-left: 15rem;
    margin-right: 15rem;
    color: white;
}

.container{
    padding-top: 5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 2rem;
    width: 20rem;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.034);
}

img{
    height: 18rem;
}


h5{
    color: #754845;
}

.precio{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #191919;
}


/** */

.card:hover{
    transform: scale(1.05);
    
}


